{%extends 'layouts/base.html'%}

{%block title%}Sobre{%endblock title%}

{%block page-directory%}Sobre{%endblock page-directory%}

{%block main-content%}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Componentes:</h4>
                <h6 class="card-subtitle">- Jao</h6>
                <h6 class="card-subtitle">- Marquinhos</h6>
                <h6 class="card-subtitle">- Guilherme</h6>
                <br>
                <h4 class="card-title d-inline">
                    <i class="fab fa-github" aria-hidden="true"></i>
                    Link
                </h4>
                <h6 class="card-subtitle d-inline">
                    https://github.com/JaoLCS/RKfarmacias
                </h6>
            </div>
        </div>
    </div>               
</div>
{%endblock main-content%}