{%extends 'layouts/base.html'%}

{%block title%}CRUD{%endblock title%}

{%block page-directory%}CRUD{%endblock page-directory%}

{%block main-content%}
<!-- Create Form -->
<div class="row">
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <form class="form-horizontal form-material mx-2" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="col-md-12 mb-0">Remédio</label>
                        <div class="col-md-12">
                            {{form.rem_remedio}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12 mb-0">Preço</label>
                        <div class="col-md-12">
                           {{form.rem_preco}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12 mb-0">Quantidade</label>
                        <div class="col-md-12">
                            {{form.rem_quantidade}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-12">Embalagem</label>
                        <div class="col-sm-12 border-bottom">
                            {{form.rem_embalagem}}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12 d-flex">
                            <button class="btn btn-success mx-auto mx-md-0 text-white" type="submit">
                                Cadastrar Remédio
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div class= "col-8">
        <div class="card">
            <div class= "card-body">
                <h4 class="card-title">Lista de Remédios</h4>
                <div class="table-responsive mt-5">
                    <table class="table stylish-table no-wrap">
                        <thead>
                            <tr>
                                <th class="border-top-0">#</th>
                                <th class="border-top-0">Remédio</th>
                                <th class="border-top-0">Preço</th>
                                <th class="border-top-0">Quantidade</th>
                                <th class="border-top-0">Embalagem</th>
                                <th class="border-top-0">Opções</th>
                            </tr>
                        </thead>
                        <tbody>
                            {%for i in chave%}
                                <tr>
                                    <td>{{i.id}}</td>
                                    <td>{{i.rem_remedio}} </td>
                                    <td>{{i.rem_preco}} </td>
                                    <td>{{i.rem_quantidade}} </td>
                                    <td>{{i.rem_embalagem}} </td>
                                    <td>
                                        <button class="btn btn-primary mx-auto mx-md-0 text-white">
                                            <a href="{%url 'update_remedio' i.id%}" style="color:white">Atualizar</a>
                                        </button>
                                        <button class="btn btn-danger mx-auto mx-md-0 text-white">
                                            <a href="{%url 'delete_remedio' i.id%}" style="color:white">Excluir</a>
                                        </button>
                                    </td>
                                </tr>
                            {%endfor%}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock main-content%}

