{%extends 'layouts/base.html'%}

{%block title%}Index{%endblock title%}

{%block main-content%}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4>Sobre o Projeto</h4>
                <p>
                    Este projeto consiste de um CRUD simples para gerenciamento de remédios em uma farmácia correspondente 
                    a avaliação do quarto bimestre da disciplina de programação para a internet do curso de Informática
                    do IFRN Campus Caicó. O CRUD base também foi refinado com as opções de "pesquisa" e "listagem", além
                    de uma camada de autenticação. Todas as opções implementadas são acessíveis pela barra lateral. 
                </p>
                <h6>Orientações</h6>
                <ul>
                    <li>
                        As funções de CRUD só podem ser acessadas via autenticação web.
                        Para fazer login acesse a opção de CRUD, ou acesse diretamente a opção
                        de login na barra lateral e insira credenciais válidas.
                    </li>
                    <li>
                        As funções de "listagem" e "pesquisa" podem ser acessadas sem 
                        autenticação. "Listagem" oferece uma lista geral dos remédios 
                        cadastrados no sistema, enquanto a função "pesquisa" permite
                        localizar remédios específicos via busca por caracteres.
                    </li>
                </ul>
            </div>
        </div>
    </div>               
</div>
{%endblock main-content%}
