{%extends 'layouts/base.html'%}

{%block title%}Consulta{%endblock title%}

{%block page-directory%}Consulta{%endblock page-directory%}

{%block main-content%}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body align-items-center">
                Pesquisar remédio:
                <form class="app-search ps-3">
                    <input type="text" class="form-control" placeholder="Search for..."> 
                    <a class="srh-btn">
                        <i class="ti-search"></i>
                    </a>
                </form>
            </div>
        </div>
    </div>               
</div>
{%endblock main-content%}