{%extends 'layouts/base.html'%}

{%block title%}Remédio X{%endblock title%}

{%block page-directory%}Atualizar dados do remédio X{%endblock page-directory%}

{%block main-content%}
<div class="row">
    <div class= "col-12">
        <div class="card">
            <div class= "card-body">
                    <form class="form-horizontal form-material mx-2" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="col-md-12 mb-0">Remédio</label>
                            <div class="col-md-12">
                                {{form.rem_remedio}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-12 mb-0">Preço</label>
                            <div class="col-md-12">
                               {{form.rem_preco}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-12 mb-0">Quantidade</label>
                            <div class="col-md-12">
                                {{form.rem_quantidade}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-12">Embalagem</label>
                            <div class="col-sm-12 border-bottom">
                                {{form.rem_embalagem}}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12 d-flex">
                                <button class="btn btn-success mx-auto mx-md-0 text-white" type="submit">
                                    Cadastrar Remédio
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock main-content%}